    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background: #f0f0f0;
      text-align: center;
    }

    .slider-wrapper {
      position: relative;
      width: 100%;
      margin: auto;
      overflow: hidden;
      margin: 30px 0px;
    }

    .slider-container {
      display: flex;
      transition: transform 0.4s ease-in-out;
    }

    .slide-item {
      min-width: 25%; /* 100% / 4 = 25% per column */
      box-sizing: border-box;
      padding: 10px;
    }

    .slide-item div {
      background: #fff;
    }
    .slide-item img {
      width: 100%;
      object-fit: cover;
    }

    .slider-button {
      position: absolute;
      top: 40%;
      transform: translateY(-50%);
      background: transparent;
      color: #000;
      border: 1px solid #000;
      cursor: pointer;
      font-size: 18px;
      border-radius: 50%;
      z-index: 9999;
      height: 32px;
      width: 32px;
    }

    #prevBtn {
      left: 0px;
    }

    #nextBtn {
      right: 0px;
    }
    .slide-item h2 {
      margin-bottom: 0px;
      text-align: left;
    }
  .slide-item p {
      margin-top: 8px;
      text-align: left;
    }
     /* Responsive: 1 column on small screens */
    @media (max-width: 767px) {
      .slide-item {
        min-width: 100%; /* 1 column */
      }
    }